<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Sitio de Noticias</title>
    <!-- Agrega aquí tus enlaces a hojas de estilo CSS y otros recursos comunes -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/obtener_noticias/">Noticias</a></li>
                <!-- Agrega otros enlaces de navegación aquí si es necesario -->
            </ul>
        </nav>
    </header>
    
    <main>
        {% block contenido %}{% endblock %}
    </main>
    
    <footer>
        <!-- Agrega contenido del pie de página aquí si es necesario -->
    </footer>
</body>
</html>
