{% extends "base.html" %}

{% block contenido %}
    <h1>Últimas Noticias</h1>
    
    {% if noticias %}
        <ul>
            {% for noticia in noticias %}
                <li>
                    <h2>{{ noticia.titulo }}</h2>
                    <p>{{ noticia.descripcion }}</p>
                    <a href="{{ noticia.enlace }}">Leer más</a>
                    <p>Fecha de publicación: {{ noticia.fecha_publicacion }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay noticias disponibles en este momento.</p>
    {% endif %}
{% endblock %}
